<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TuneClub >> Admin</title>
<link rel="stylesheet" type="text/css" href="/adminhome.css">
<link rel="icon" type="image/x-icon" href="icon.jpeg">
</head>
<body>
<div class="container">
<h2>  Admin home page  </h2>
<form action="song"> 
<input type="submit" value="Add song" />
</form>
<br>
<form action="viewSong"> 
<input type="submit" value="View song"/>
</form>
<br>
<form action="createPlayList"> 
<input type="submit" value="Create PlayList"/>
</form>
<br>
<form action="viewPlayList"> 
<input type="submit" value="View PlayList"/>
</form>
<br>
<form action="logout"> 
<input type="submit" value="Logout"/>
</form>
</div>
</body>
</html>