<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TuneClub >> Login</title>
<link rel="stylesheet" type="text/css" href="/login.css">
<link rel="icon" type="image/x-icon" href="icon.jpeg">
</head>
<body>
<div>
  <div class="container">
   <form action="validate" method="post">
     <h2>USER LOGIN </h2>
      <label><b>Email: </b></label><br>
      <input type="email" name="email" placeholder="Enter your email.."><br><br>
      <label><b>Password: </b></label><br>
      <input type="password" name="password" placeholder="Enter your password.."><br><br>
      <input type="submit" value="LOGIN" class="input1">
   </form>
   </div>
   </div>
</body>
</html>