<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TuneClub >> AddSong</title>
<link rel="stylesheet" type="text/css" href="/song.css">
<link rel="icon" type="image/x-icon" href="icon.jpeg">
</head>
<body>
<div class="container">
<h2>Song form</h2>
   <form action="addSong" method="post" >
  <label>Song name: </label><br>
  <input type="text" name="name" placeholder="Enter song name.."><br><br>
  <label>Artist: </label><br>
  <input type="text" name="artist" placeholder="Enter artist name.."><br><br>
  <label>Genre: </label><br>
  <input type="text" name="genre" placeholder="Enter song genre.."><br><br>
  <label>Link: </label><br>
  <input type="text" name="link" placeholder="Enter song link.."><br><br>
  <button type="submit" value="addSong"> ADD </button>
  </form>
  </div>
</body>
</html>